<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration Form In HTML and CSS</title>
	<link rel="stylesheet" href="signuppage.css">
</head>
<body>
	
<div class="wrapper">
	<div class="registration_form">
		<div class="title">
			Registration Form
		</div>

		<form>
			<div class="form_wrap">
				<div class="input_grp">
					<div class="input_wrap">
						<label for="fname">First Name</label>
						<input type="text" id="fname">
					</div>
					<div class="input_wrap">
						<label for="lname">Last Name</label>
						<input type="text" id="lname">
					</div>
				</div>
				<div class="input_wrap">
					<label for="Phone number">Phone number(only India)</label>
					<input type="text" id="phone number">
				</div>
				<div class="input_wrap">
					<label>Account type</label>
					<ul>
						<li>
							<label class="radio_wrap">
								<input type="radio" name="Account type" value="Farmer" class="input_radio" checked>
								<span>Farmer</span>
							</label>
						</li>
						<li>
							<label class="radio_wrap">
								<input type="radio" name="Account type" value="Buyer" class="input_radio">
								<span>Buyer</span>
							</label>
						</li>
					</ul>
				</div>
				<div class="input_wrap">
					<label for="city">City</label>
					<input type="text" id="city">
				</div>
				<div class="input_wrap">
					<label for="country">Country</label>
					<input type="text" id="country">
				</div>
				<div class="input_wrap">
					<input type="submit" value="Next" class="submit_btn">
                </div>
                
			</div>
		</form>
	</div>
</div>
<style>
    body {
      background-image: url('pic1.jpg');
    }
    </style>
</body>
</html>
